.bigboy {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: white;


	padding: 10px 10px  0px 0px;
	height: fit-content;

}

.boy {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 10px 0px 0px 10px;
	background: var(--secondary-color);
	margin-bottom: -5px;
	text-align: center;
	align-items: center;
	border-radius: 30px;
	height: 250px;
	width: 26%;
}

.button-container {
	width: 100%;
	background: -----;
}

.product-section { /* New container for products and button */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: white;

    padding-top: 0px;
    height: fit-content; /* Or a specific height if needed */
}

.see-all-products {
	display: flex;
	margin: 5px auto;
	width: fit-content;
	font-size: 1.6em;
	text-decoration: none;
	border: 2px;
	border-color: black;
    background-color: white; /* Adjust color as needed */
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,2);
    margin-bottom: 15px;
}
.see-all-products:hover {
  font-size: 1.7em;
}

.boy img{
	display: flex;
	width: 100%;
	border-radius: 40px;
	height: 90%;
	padding: 0px 20px 0px 20px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++Media Queries +++++++++++++++++++++++++++++++++++++++++++++++*/
@media (max-width: 712px) {

	.boy img{
		border-radius: 20px;
		padding: 0px;

    .boy {
        width: 40%;
        height: 150px;
        max-width: 400px;
        font-size: 0.7em;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    #big {
    	height: 400px;
    }

    #big-image {
    	height: 100%;
    }
}

@media (max-width: 600px) {
	.boy {
		height: 150px;
	}
}


@media (max-width: 400px) {
    .boy {
	    width: 50%;
	    height: 120px;
	    max-width: 400px;
	    font-size: 0.7em;
	    padding-bottom: 0px;
	    padding-top: 0px;
	}

	.see-all-products {
		font-size: 1em;
	}
}
