#map {
	display: flex;
	width: 100%;
	height: fit-content;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
	background: white;
	text-align: center;

}

#map div {
	display: flex;
	width: 90%;
	height: 500px;
	margin-top: 17px;
}

#map span {
	width: 100%;
	font-size: 1.3em;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++Media Queries +++++++++++++++++++++++*/

@media (max-width: 500px) {
	#map div {
		display: flex;
		height: 400px;
		width: 100%;
	}

	#map span {
		display: flex;
		font-size: 0.9em;
	}

}
